<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 card p-3" *ngFor="let item of musicList">
            <img class="card-img-top img-responsive" [src]="item.cover" [alt]="item.title">
            <div class="card-body d-flex flex-column">
                <div class="d-flex">
                    Title: <h5 class="ml-1 card-title text-info">{{item.title}}</h5>
                </div>
                <div class="d-flex flex-column">
                    <span>
                        Artist: {{item.artist}}
                    </span>
                    <span>
                        Album: {{item.album}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>